<!DOCTYPE HTML>
<html>
<head>
<title>register</title>
{% include common/head_meta.html %}
</head>

<body>
{% include common/header.html %}

<h2>!! THIS IS A REGISTRATION PAGE !!</h2>
<form action='/register' method='post'>
username: <input type='text' name='username'> <br>
display name: <input type='text' name='display_name'> <br>
password: <input type='password' name='password'> <br>
password (double check): <input type='password' name='password_doublecheck'> <br>
<input type='submit'>
</form>

</body>

</html>

